<!-- @post is first because our routes is looking for a post_id first -->
<%= form_for([@post,@comment]) do |c| %>
<div class="mt-2">
        <%= c.text_field :body, class: 'form-control', placeholder: "Comment" %>
        <%= c.submit "Add a Comment ", class: "btn btn-block btn-primary"%>
</div>
<% end %>