@import "bootstrap";
@import "font-awesome";

.container{
    max-width: 1000px;
  }
  // Start of Nav css --------------------------
  .navbar{
    border-bottom: 1px solid rgba(0,0,0,.0975);
  }
  // Icons of navbas
  .user-section{
    a{
      padding-left: 15px;
    }
    i.fa{
      font-size: 22px;
      color: #000000d4;
    }
  }
  .search-form{
    input{
      font-size: 13px;
      text-align: center;
    }
  }
// End of nav css -------------------------------------

  .footer{
    font-size: 12px;
    padding-top: 30px;
    ul{
      padding-left: 0;
      > li{
        display: inline;
        padding-right: 15px;
        color: #003569;
      }
    }
    p{
      color: #999;
    }
  }


// FOr form
  .form-upload{
    border: 1px solid #dbdbdb;
    height: auto;

    margin: auto 160px;
    padding: 30px;
    border-radius: 3px;
    
    input[type='text']{
      width: 100%;
    }
  }
  


  .posts{
    margin: 50px 180px 10px;
    .post{
      border: 1px solid #efefef;
      margin: 60px 0;
      border-radius: 3px;
      min-width: 400px;
      .user{
        border-bottom: 1px solid #efefef;
        display: flex;
          img{
            width: 100%;
            max-width: 700px;
            border: 1px solid #efefef;
          }
        }
        .username{
          padding: 13px;
          color: #262626;
          font-size: 14px;
          font-weight: 600;
          width: 200px;
        }
      }
      .main-image{
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
        max-height: 500px;
      }
      .description{
        padding: 20px;
        border-left: 5px solid #000000d4;
      }
    }
  